body {
    background-color: #33BBFF;
   
}

@font-face {
	font-family: 'Conv_Pokemon Solid Normal';
	src: url('styles/Pokemon Solid Normal');
	src: local('☺'), url('styles/Pokemon Solid Normal.woff') format('woff'), url('styles/Pokemon Solid Normal.ttf') format('truetype'), url('styles/Pokemon Solid Normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Pokemon Hollow';
	src: url('styles/Pokemon Hollow');
	src: local('☺'), url('styles/Pokemon Hollow.woff') format('woff'), url('styles/Pokemon Hollow.ttf') format('truetype'), url('styles/Pokemon Hollow.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
h1 {
	font-family: 'Pokemon Solid Normal';
	font-size: 3em;
	letter-spacing: 3px;
	text-align: center;
	padding: 50px 50px 10px;
}
h2 {
	font-family: 'Pokemon Hollow';
	font-size: 2.5em;
	padding: 10px 50px 0px;
	
}
h3 {
	font-family: 'Pokemon Solid';
	text-align: center;
	font-size: 2em;
	padding: 5px 50px 5px;

}
ul {
	font-size: 2em;
	font-family: Verdana;
	padding: 5px 50px 5px;
}

p {
	font-family: 'Pokemon Hollow';
	font-size: 3em;
	padding: 10px 50px 10px;
	font-style: bold;
}
.centerImage {text-align: center;}
