body {
    background-color: #33BBFF;

@font-face {
    font-family: "Pokemon Solid";
    src: url(styles/Pokemon Solid.ttf) format("truetype");
}
p.customfont { 
    font-family: "Pokemon Solid", Verdana, Tahoma;
}

}
